body {
    padding-top: 8px;
}

.hidden {
    display: none;
}

.slide {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    height: 245px;
    width: 220px;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.slide {
    float: left;
    margin-bottom: 24px;
    margin-right: 24px;
}

.slide a {
    display: block;
    text-align: center;
    width: 100%;
}

.slide img {
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    cursor: pointer;
    max-width: 200px;
    height: 120px;
}

.slide p {
    color: #70777a;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 12px;
    width: 200px;
}

.slide p strong {
    color: #606668;
}
